{% extends 'base.html.twig' %}

{% block page %}{{ title }}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% import 'macro.html.twig' as m %}

{% block body %}
<p>※フォームを用意します。</p>
{% include '/hello/table.html.twig' with [data] %}
{% endblock %}
